* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 62.5%;
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
}

.container {
  background: linear-gradient(53deg, rgb(0, 139, 190) 50%, #009ebd 0);
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;

  .app-wrapper {
    background-color: #fff;
    min-width: 45rem;
    min-height: 60rem;
    height: auto;
    padding: 4rem;
    box-sizing: border-box;
    border-radius: 0.4rem;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
    margin: 6rem 2rem;

    .header h1 {
      color: #202124;
      text-align: center;
      margin: 0rem 2rem 4rem 2rem;
      font-size: 3.6rem;

      @media only screen and (max-width: 768px) {
        font-size: 2.8rem;
      }
    }

    .balance {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      h1 {
        @media only screen and (max-width: 768px) {
          font-size: 2.8rem;
        }
      }
    }

    .inc-exp-container {
      background-color: #fff;
      box-shadow: var(--box-shadow);
      padding: 20px;
      display: flex;
      justify-content: space-between;
      margin: 20px 0;
    }
    .inc-exp-container > div {
      flex: 1;
      text-align: center;
    }
    .inc-exp-container > div:first-of-type {
      border-right: 1px solid #dedede;
    }
    .money {
      font-size: 20px;
      letter-spacing: 1px;
      margin: 5px 0;
    }

    .money.plus {
      color: #2ecc71;
    }

    .money.minus {
      color: #c0392b;
    }

    .add-transaction {
      width: 100%;
      height: auto;
      position: relative;

      label {
        display: inline-block;
        margin: 10px 0;
      }

      input[type="text"],
      input[type="number"] {
        border: 1px solid #dedede;
        border-radius: 0.2rem;
        display: block;
        font-size: 1.6rem;
        padding: 1rem;
        width: 100%;
        box-sizing: border-box;
      }

      .btn {
        cursor: pointer;
        background-color: #008bbe;
        color: #fff;
        border: 0;
        display: block;
        font-size: 1.6rem;
        margin: 1rem 0 3rem;
        padding: 1rem;
        width: 100%;

        &:hover {
          opacity: 0.8;
        }
      }

      .btn:focus,
      .delete-btn:focus {
        outline: 0;
      }
    }

    .list {
      list-style-type: none;
      padding: 0;
      margin-bottom: 40px;
    }

    .list li {
      background-color: #fff;
      box-shadow: var(--box-shadow);
      color: #333;
      display: flex;
      align-items: center;
      position: relative;
      padding: 10px;
      margin: 10px 0;
    }

    .list li.plus span {
      color: #2ecc71;
      font-weight: bold;
      margin-left: auto;
    }

    .list li.minus span {
      color: #c0392b;
      font-weight: bold;
      margin-left: auto;
    }

    .delete-btn {
      cursor: pointer;
      border: 0;
      background-color: white;
      color: #b8a4a4;
      font-size: 20px;
      line-height: 20px;
      padding: 2px 5px;
      margin-left: 0.8rem;
      transition: opacity 0.3s ease;

      &:hover {
        color: #c0392b;
      }
    }

    @media only screen and (max-width: 768px) {
      min-width: 90%;
      padding: 2rem;
    }
  }
}
